<link rel="preload" href="static/css/51f481c946f5cddc.css" as="style" />
<link rel="stylesheet" href="static/css/51f481c946f5cddc.css" data-n-g="" />
<link rel="preload" href="static/css/d5e43d44d6da1600.css" as="style" />
<link rel="stylesheet" href="static/css/d5e43d44d6da1600.css" data-n-p="" />

<table style="border-collapse: collapse;">
<tr style="border-bottom: 1pt solid white;">
    <td></td>
    <td>bas</td>
    <td>eric</td>
    <td>thomas</td>
    <td>tom</td>
    <td>nils</td>
</tr>
{% for band in bands|sort %}
<tr style="border-bottom: 1pt solid white;">
    <td>
        {{ band }}
    </td>
    {% if band in ratings %}
        <td>
            {{ ratings[band]['bas'] }}
        </td>
        <td>
            {{ ratings[band]['eric'] }}
        </td>
        <td>
            {{ ratings[band]['thomas'] }}
        </td>
        <td>
            {{ ratings[band]['tom'] }}
        </td>
        <td>
            {{ ratings[band]['nils'] }}
        </td>
    {% else %}
        <td></td><td></td><td></td><td></td><td></td>
    {% endif %}
</tr>
{% endfor %}
</table>
