<link rel="preload" href="static/css/51f481c946f5cddc.css" as="style" />
<link rel="stylesheet" href="static/css/51f481c946f5cddc.css" data-n-g="" />
<link rel="preload" href="static/css/d5e43d44d6da1600.css" as="style" />
<link rel="stylesheet" href="static/css/d5e43d44d6da1600.css" data-n-p="" />

<table style="border-collapse: collapse;">
<tr style="border-bottom: 1pt solid white;">
    <td></td>
    <td>bas</td>
    <td>eric</td>
    <td>thomas</td>
    <td>tom</td>
    <td>nils</td>
</tr>
{% for band, ratings in ratings.items()|sort %}
<tr style="border-bottom: 1pt solid white;">
    <td>
        {{ band }}
    </td>
    <td>
        {{ ratings['bas'] }}
    </td>
    <td>
        {{ ratings['eric'] }}
    </td>
    <td>
        {{ ratings['thomas'] }}
    </td>
    <td>
        {{ ratings['tom'] }}
    </td>
    <td>
        {{ ratings['nils'] }}
    </td>
</tr>
{% endfor %}
</table>
