<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
</head>

<body>
    {% for band in bands|sort %}
    {{ band }}<br/>
    <textarea id="{{ band|replace('&#39', '') }}" id="postConfig" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ reviews[band] }}</textarea><br/>
    <button id="{{ band }}Button">Post</button><br/>
    <script>
        document.getElementById('{{ band }}Button').addEventListener("click", async () => {
            await fetch("{{url_for('reviews')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    band: "{{ band }}",
                    content: document.getElementById("{{ band }}").value
                })
            }).then(resp => {
                return resp.text();
            }).then(resp => {
                console.log(resp);
            });
        });
    </script>
    {% endfor %}
</body>
</html>